.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 18% 18% 20%;
    height: 100vh;
    text-align: center;
}

.header {
    background-color: greenyellow;
    grid-column: 1/4;
}

.sec1 {
    padding-top: 30px;
    background-color: aquamarine;
    grid-area: 2/1/5/3;
}

.sec2 {
    padding-top: 30px;
    background-color: rgb(59, 151, 156);
    grid-area: 2/3/5/4;
}

.div1 {
    padding: 10px;
    background-color: rgb(168, 168, 208);
    grid-area: 3/1/4/2;
    margin: 15px;
}

.div2 {
    padding: 10px;
    background-color: rgb(239, 152, 152);
    grid-area: 3/2/4/3;
    margin: 15px;
}

.div3 {
    padding: 20px;
    background-color: rgb(43, 177, 226);
    grid-area: 4/1/5/3;
    margin: 0px 15px 15px 15px;
}

.footer {
    background-color: blueviolet;
    grid-area: 5/1/6/4;

}

.con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    background-color: blueviolet;
    gap: 40px;
    padding: 20px;
}

.div4 {
    padding-top: 30px;
    background-color: bisque;
}

.div5 {
    padding-top: 30px;
    background-color: bisque;
}

.div6 {
    padding-top: 30px;
    background-color: bisque;
}

.div7 {
    padding-top: 30px;
    background-color: bisque;
}